* {
    box-sizing: border-box;
    @include padding-margin;
  }
  
  html, body {
    @include max-size;
    overflow: hidden;
    background-image: url(/source/img/background.png);
    background-size: cover;
  }